{% extends 'base.html' %}

{% block title %}Resources{% endblock %}

{% block content %}
<h1>Resources</h1>

<a href="{% url 'resource_upload' %}" class="btn btn-primary mb-3">Upload New Resource</a>

<ul class="list-group">
  {% for resource in resources %}
    <li class="list-group-item">
      <a href="{% url 'resource_detail' resource.pk %}">{{ resource.title }}</a>
      ({{ resource.get_resource_type_display }})
    </li>
  {% empty %}
    <li class="list-group-item">No resources available.</li>
  {% endfor %}
</ul>
{% endblock %}
